.al-box {
  &-list {
    display: flex;
    list-style-type: none;
    margin-top: 110px;
    padding: 0;
    background-color: white;
    &-float {
      position: absolute;
      left: 0;
      right: 0;
      top: -80px;
      display: flex;
      justify-content: center;
      z-index: 2;
      text-align: center;
      font-weight: 600;
      &-wrapper {
        min-width: 170px;
        height: 70px;
        border-radius: 10px;
        box-shadow: 0px 3px 6px #52525245;
        background-color: $dark-blue;
        color: white;
        font-size: 14px;
        padding: 8px;
        outline: 10px solid white;
      }
      &-subtitle {
        font-size: 21px;
      }
    }
    li {
      position: relative;
      display: inline-block;
      text-align: center;
    }
    li:first-child,
    li:last-child {
      min-width: 14%;
    }
    li:nth-child(2),
    li:nth-child(4) {
      min-width: 22%;
    }

    li:nth-child(1):after {
      content: "";
      position: absolute;
      top: -55px;
      left: 50%;
      right: 0;
      border-left: 1px dashed $dark-purple;
      border-top: 1px dashed $dark-purple;
      border-top-left-radius: 25px;
      height: 50px;
    }
    li:nth-child(2):after {
      content: "";
      position: absolute;
      top: -40px;
      left: 50%;
      right: 0;
      border-left: 1px dashed $dark-purple;
      border-top: 1px dashed $dark-purple;
      border-top-left-radius: 25px;
      height: 40px;
    }
    li:nth-child(2):before {
      content: "";
      position: absolute;
      top: -55px;
      left: 0;
      right: 0;
      border-top: 1px dashed $dark-purple;
    }
    li:nth-child(4):after {
      content: "";
      position: absolute;
      top: -40px;
      left: 0;
      right: 50%;
      border-right: 1px dashed $dark-purple;
      border-top: 1px dashed $dark-purple;
      border-top-right-radius: 25px;
      height: 40px;
    }
    li:nth-child(4):before {
      content: "";
      position: absolute;
      top: -55px;
      left: 0px;
      right: 0px;
      border-top: 1px dashed $dark-purple;
    }
    li:nth-child(5):after {
      content: "";
      position: absolute;
      top: -55px;
      left: 0;
      right: 50%;
      border-right: 1px dashed $dark-purple;
      border-top: 1px dashed $dark-purple;
      border-top-right-radius: 25px;
      height: 50px;
    }
    &-title {
      font-family: $font-family-secondary;
      color: $dark-purple;
      font-size: 16px;
      font-weight: bold;
    }
    &-subtitle {
      color: $dark-purple;
      font-size: 14px;
      font-weight: 500;
      white-space: nowrap;
    }
  }
}
 