.card {
  &-mini {
    line-height: 1;
    position: relative;
    &-title-wrapper {
      min-height: 30px;
    }
    &-title {
      font-size: 85%;
    }

    &-icon {
      display: flex;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 5px;
      right: 5px;
    }

    &-amount {
      font-size: 18px;
      font-weight: 500;
    }

    &-currency {
      font-size: 12px;
    }

    &-percentage {
      font-size: 12px;
      display: flex;
      margin-top: 1.5px;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.card-mini-dark {
  background-color: $dark-blue;
  .card-mini {
    &-title,
    &-amount,
    &-currency {
      color: white;
    }
  }
}

.card-mini-wide {
  .card-mini-icon {
    position: unset;
    margin-left: 0.5rem;
  }
}

.card-mini-list-scroll {
  height: 204px;
}
.card-mini-list {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    margin-top: 10px;
    li {
      border-top: 1px solid $bg;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & :first-child {
        font-weight: 600;
      }
      & :last-child {
        font-weight: 500;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
