.v-popper--theme-tooltip .v-popper__inner {
  background: #ffffff;
  color: #000000;
  padding: 8px 24px;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  min-width: 300px;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: #ffffff;
}

.v-popper--theme-tooltip .v-popper__arrow-inner {
  visibility: hidden;
}

.tooltip {
  &-title {
    color: $dark-blue;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #b8bed957;
    font-weight: 600;
    font-size: 14px;
  }
  &-content {
    font-size: 12px;
    font-weight: 600;
    color: $dark-blue;
    .list-group {
      font-size: 14px;
    }
    .list-group-item {
      padding: 0.25rem 0;
      &:first-child {
        border: 0;
      }
    }
    p {
      margin-bottom: 0.5rem;
      span {
        color: $highlight;
      }
    }
    .muted {
      color: $grey;
    }
  }
}
