@include media-breakpoint-up(sm) {
  .long-mini-card {
    &-item {
      &:not(:last-child) {
        padding-right: 0;
        .card {
          border-right: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          padding-right: 0;
        }
      }
      &:not(:first-child) {
        padding-left: 0;
        .card {
          border-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          padding-left: 0;
          &-content {
            border-left: 1px solid white;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .long-mini-card {
    &-item {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }
}
