.simplebar-scrollbar.simplebar-visible:before{
    opacity: 0.3;
}
.simplebar-scrollbar:before{
    background: #8691b4;
}
.simplebar-track.simplebar-vertical{
    width: 8px;
}
.simplebar-track.simplebar-horizontal{
    height: 10px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar{
    height: 4px;
    top: 3px;
}