.switch {
  display: inline-block;
  height: 22px;
  position: relative;
  width: 42px;

  input {
    display: none;
  }

  .slider {
    background-color: white;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    outline: 1px solid #d2d2d2;
  }

  .slider:before {
    content: "";
    background: transparent radial-gradient(closest-side at 50% 50%, #ffffff 0%, #fcfcfc 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #0000005a;
    border: 1px solid #dedfdf;
    bottom: 3px;
    left: 3px;
    position: absolute;
    transition: 0.4s;
    height: 16px;
    width: 16px;
  }

  input:checked + .slider {
    background-color: #01194b;
  }

  input:checked + .slider:before {
    transform: translateX(19px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
