$bg: #f3f5fa;
$red: #d81010;
$green: #10d876;
$grey: #8691b4;
$dark-blue: #03053c;
$dark-purple: #283977;

$colors: (
  "red": $red,
  "green": $green,
  "grey": $grey,
  "dark-blue": $dark-blue,
);
$sides: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$font-family-primary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-family-secondary: "Poppins", sans-serif;
