@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "variable";
@import "summary";
@import "card-mini";
@import "switch";

body {
  background-color: #f3f5fa !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.page-seperator {
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  &:after {
    content: "";
    height: 1px;
    background-color: rgba($color: $grey, $alpha: 0.2);
    width: 100%;
    margin-left: 10px;
  }
}
.card {
  border-color: #e9ecef;
  box-shadow: 2px 2px 2px #69696916;
  border-radius: 0.55rem;
  padding: 16px;
}
.card-heading {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-bottom: 1rem;
}
.card-subheading {
  font-size: 15px;
  font-weight: 600;
  color: black;
  margin-bottom: 0;
}
#my-chart-id {
  height: 500px;
}

.al-box {
  &-list {
    display: flex;
    list-style-type: none;
    margin-top: 110px;
    padding: 0;
    background-color: white;
    &-float {
      position: absolute;
      left: 0;
      right: 0;
      top: -80px;
      display: flex;
      justify-content: center;
      z-index: 2;
      text-align: center;
      &-wrapper {
        min-width: 180px;
        height: 70px;
        border-radius: 10px;
        box-shadow: 0px 3px 6px #52525245;
        background-color: #03053c;
        color: #ffffff;
        font-size: 14px;
        padding: 8px;
        outline: 10px solid white;
      }
      &-subtitle {
        font-size: 21px;
      }
    }
    li {
      position: relative;
      display: inline-block;
      text-align: center;
    }
    li:first-child,
    li:last-child {
      min-width: 15%;
    }
    li:nth-child(2),
    li:nth-child(4) {
      min-width: 25%;
    }

    li:nth-child(1):after {
      content: "";
      position: absolute;
      top: -55px;
      left: 50%;
      right: 0;
      border-left: 1px dashed #283977;
      border-top: 1px dashed #283977;
      border-top-left-radius: 25px;
      height: 50px;
    }
    li:nth-child(2):after {
      content: "";
      position: absolute;
      top: -40px;
      left: 50%;
      right: 0;
      border-left: 1px dashed #283977;
      border-top: 1px dashed #283977;
      border-top-left-radius: 25px;
      height: 40px;
    }
    li:nth-child(2):before {
      content: "";
      position: absolute;
      top: -55px;
      left: 0;
      right: 0;
      border-top: 1px dashed #283977;
    }
    li:nth-child(4):after {
      content: "";
      position: absolute;
      top: -40px;
      left: 0;
      right: 50%;
      border-right: 1px dashed rgb(40, 57, 119);
      border-top: 1px dashed rgb(40, 57, 119);
      border-top-right-radius: 25px;
      height: 40px;
    }
    li:nth-child(4):before {
      content: "";
      position: absolute;
      top: -55px;
      left: 0px;
      right: 0px;
      border-top: 1px dashed rgb(40, 57, 119);
    }
    li:nth-child(5):after {
      content: "";
      position: absolute;
      top: -55px;
      left: 0;
      right: 50%;
      border-right: 1px dashed rgb(40, 57, 119);
      border-top: 1px dashed rgb(40, 57, 119);
      border-top-right-radius: 25px;
      height: 50px;
    }
    &-title {
      color: #283977;
      font-size: 16px;
      font-weight: bold;
    }
    &-subtitle {
      color: #283977;
      font-size: 14px;
      font-weight: 500;
      white-space: nowrap;
    }
  }
}
.dashboard-content {
  @include media-breakpoint-up(lg) {
    width: calc(100% - 215px);
    padding: 60px 15px 5px 30px;
  }
}
@include media-breakpoint-up(lg) {
  .col-lg-70 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .col-lg-30 {
    flex: 0 0 30%;
    max-width: 30%;
  }
}

#doughnut-chart {
  min-height: 200px;
  height: 100% !important;
  width: auto;
}

.border-left-1 {
  border-left: 1px solid #8691b4;
}

.border-right-1 {
  border-right: 1px solid #8691b4;
}

@each $name, $value in $colors {
  .text-#{$name} {
    color: $value;
  }
  .bg-#{$name} {
    background-color: $value;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}
