@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

@import "variable";
@import "al-box";
@import "summary";
@import "card-mini";
@import "switch";
@import "chart";
@import "simplebar";
@import "long-mini-card";
@import "floating";

body {
  background-color: $bg !important;
  font-weight: 400;
  font-family: $font-family-primary !important;
}
.dashboard-content {
  @include media-breakpoint-up(lg) {
    // width: calc(100% - 215px);
  }
}
.page-seperator-border {
  height: 1px;
  background-color: rgba($color: $grey, $alpha: 0.2);
  width: 100%;
}
.page-seperator {
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  &:after {
    content: "";
    margin-left: 10px;
    @extend .page-seperator-border;
  }
}
.card {
  border-color: #e9ecef;
  box-shadow: 2px 2px 2px #69696916;
  border-radius: 0.55rem;
  &-body {
    padding: 16px;
  }
}
.card-heading {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-bottom: 1rem;
  font-family: $font-family-secondary;
}
.card-subheading {
  font-size: 15px;
  font-weight: 600;
  color: black;
  margin-bottom: 0;
  font-family: $font-family-secondary;
}

@include media-breakpoint-up(lg) {
  .col-lg-70 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .col-lg-30 {
    flex: 0 0 30%;
    max-width: 30%;
  }
}

#doughnut-chart {
  min-height: 200px;
  height: 100% !important;
  width: auto;
}

@each $side-name, $side-value in $sides {
  .border-#{$side-name}-0 {
    border-#{$side-value}: 0;
  }
  .border-#{$side-name}-1 {
    border-#{$side-value}: 1px solid grey;
  }
  @each $b-name in map-keys($container-max-widths) {
    @include media-breakpoint-up($b-name) {
      .border-#{$b-name}-#{$side-name}-0 {
        border-#{$side-value}: 0;
      }
      .border-#{$b-name}-#{$side-name}-1 {
        border-#{$side-value}: 1px solid grey;
      }
    }
  }
}

// @each $name, $value in $colors {
//   .text-#{$name} {
//     color: $value;
//   }
//   .bg-#{$name} {
//     background-color: $value;
//   }
//   .border-#{$name} {
//     border-color: $value;
//   }
// }

.rotate-180 {
  transform: rotate(180deg);
}

footer {
  font-size: 14px;
}

.row {
  margin-right: -9px;
  margin-left: -9px;
}

.col-xl,
.col-xl-auto,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg,
.col-lg-auto,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  padding-right: 9px;
  padding-left: 9px;
}
