@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
.card {
  border-color: #e9ecef;
  box-shadow: 2px 2px 2px #69696916;
  border-radius: 0.55rem;
}
.card-body {
  padding: 16px;
}
.card-header {
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
  border-radius: 0.55rem 0.55rem 0 0 !important;
}
.card-heading {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}
.card-subheading {
  font-size: 15px;
  font-weight: 600;
  color: black;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

.card.card-md {
  border-radius: 12px;
}
.card.card-md .card-body {
  padding: 23px;
}

.card.card-lg {
  border-radius: 12px;
}
.card.card-lg .card-body {
  padding: 42px;
}
.card.card-lg .card-heading {
  font-size: 19px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.card.card-lg .card-subheading {
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.card-w-min {
  min-width: 350px;
}

@media (max-width: 767.98px) {
  .al-box-container {
    min-width: 620px;
  }
}
.al-box-list {
  display: flex;
  list-style-type: none;
  margin-top: 110px;
  padding: 0;
  background-color: white;
}
.al-box-list-float {
  position: absolute;
  left: 0;
  right: 0;
  top: -80px;
  display: flex;
  justify-content: center;
  z-index: 2;
  text-align: center;
  font-weight: 600;
}
.al-box-list-float-wrapper {
  min-width: 170px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #52525245;
  background-color: #03053c;
  color: white;
  font-size: 14px;
  padding: 8px;
  outline: 10px solid white;
}
.al-box-list-float-subtitle {
  font-size: 21px;
}
.al-box-list li {
  position: relative;
  display: inline-block;
  text-align: center;
}
.al-box-list li:first-child,
.al-box-list li:last-child {
  min-width: 14%;
}
.al-box-list li:nth-child(2),
.al-box-list li:nth-child(4) {
  min-width: 22%;
}
.al-box-list li:nth-child(1):after {
  content: "";
  position: absolute;
  top: -55px;
  left: 50%;
  right: 0;
  border-left: 1px dashed #283977;
  border-top: 1px dashed #283977;
  border-top-left-radius: 25px;
  height: 50px;
}
.al-box-list li:nth-child(2):after {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  right: 0;
  border-left: 1px dashed #283977;
  border-top: 1px dashed #283977;
  border-top-left-radius: 25px;
  height: 40px;
}
.al-box-list li:nth-child(2):before {
  content: "";
  position: absolute;
  top: -55px;
  left: 0;
  right: 0;
  border-top: 1px dashed #283977;
}
.al-box-list li:nth-child(4):after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  right: 50%;
  border-right: 1px dashed #283977;
  border-top: 1px dashed #283977;
  border-top-right-radius: 25px;
  height: 40px;
}
.al-box-list li:nth-child(4):before {
  content: "";
  position: absolute;
  top: -55px;
  left: 0px;
  right: 0px;
  border-top: 1px dashed #283977;
}
.al-box-list li:nth-child(5):after {
  content: "";
  position: absolute;
  top: -55px;
  left: 0;
  right: 50%;
  border-right: 1px dashed #283977;
  border-top: 1px dashed #283977;
  border-top-right-radius: 25px;
  height: 50px;
}
.al-box-list-title {
  font-family: "Poppins", sans-serif;
  color: #283977;
  font-size: 16px;
  font-weight: bold;
}
.al-box-list-subtitle {
  color: #283977;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

.summary-wrapper {
  display: flex;
  justify-content: space-between;
}
.summary-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
  text-align: center;
  line-height: 1;
  min-width: 150px;
  flex: 1 1 auto;
}
.summary-subtitle {
  color: #8691b4;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.summary-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}
.summary-icon {
  width: 14px;
  height: 14px;
  margin-left: 5px;
  display: flex;
  cursor: pointer;
  color: #b8bed9;
}
.summary-percentage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.summary-percentage-icon {
  width: 14px;
  height: 14px;
}

.card-mini {
  line-height: 1;
  position: relative;
}
.card-mini-title-wrapper {
  min-height: 30px;
}
.card-mini-title {
  font-size: 85%;
}
.card-mini-icon {
  display: flex;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.card-mini-amount {
  font-size: 18px;
  font-weight: 500;
}
.card-mini-currency {
  font-size: 12px;
}
.card-mini-percentage {
  font-size: 12px;
  display: flex;
  margin-top: 1.5px;
}
.card-mini-percentage svg {
  width: 12px;
  height: 12px;
}

.card-mini-dark {
  background-color: #03053c;
}
.card-mini-dark .card-mini-title, .card-mini-dark .card-mini-amount, .card-mini-dark .card-mini-currency {
  color: white;
}

.card-mini-wide .card-mini-icon {
  position: unset;
  margin-left: 0.5rem;
}

.card-mini-list-scroll {
  height: 204px;
}

.card-mini-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  margin-top: 10px;
}
.card-mini-list ul li {
  border-top: 1px solid #f3f5fa;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-mini-list ul li :first-child {
  font-weight: 600;
}
.card-mini-list ul li :last-child {
  font-weight: 500;
}
.card-mini-list ul li:last-child {
  padding-bottom: 0;
}

.switch {
  display: inline-block;
  height: 18px;
  position: relative;
  width: 42px;
}
.switch input {
  display: none;
}
.switch .slider {
  background-color: #e9ecef;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.switch .slider:before {
  content: "";
  background: transparent radial-gradient(closest-side at 50% 50%, #ffffff 0%, #fcfcfc 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px 0px #0000005a;
  border: 1px solid #dedfdf;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: 0.4s;
  height: 18px;
  width: 18px;
}
.switch input:checked + .slider {
  background-color: #01194b;
}
.switch input:checked + .slider:before {
  transform: translateX(24px);
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}

ul.chart-line-legend .legend-content, .chart-pie-tooltip .legend-content {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 991.98px) {
  .chart-line-wrapper {
    width: 850px;
  }
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.3;
}

.simplebar-scrollbar:before {
  background: #8691b4;
}

.simplebar-track.simplebar-vertical {
  width: 8px;
}

.simplebar-track.simplebar-horizontal {
  height: 10px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  height: 4px;
  top: 3px;
}

@media (min-width: 576px) {
  .long-mini-card-item:not(:last-child) {
    padding-right: 0;
  }
  .long-mini-card-item:not(:last-child) .card {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0;
  }
  .long-mini-card-item:not(:first-child) {
    padding-left: 0;
  }
  .long-mini-card-item:not(:first-child) .card {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
  }
  .long-mini-card-item:not(:first-child) .card-content {
    border-left: 1px solid white;
  }
}
@media (max-width: 575.98px) {
  .long-mini-card-item:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
.v-popper--theme-tooltip .v-popper__inner {
  background: #ffffff;
  color: #000000;
  padding: 8px 24px;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  min-width: 300px;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: #ffffff;
}

.v-popper--theme-tooltip .v-popper__arrow-inner {
  visibility: hidden;
}

.tooltip-title {
  color: #03053c;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #b8bed957;
  font-weight: 600;
  font-size: 14px;
}
.tooltip-content {
  font-size: 12px;
  font-weight: 600;
  color: #03053c;
}
.tooltip-content .list-group {
  font-size: 14px;
}
.tooltip-content .list-group-item {
  padding: 0.25rem 0;
}
.tooltip-content .list-group-item:first-child {
  border: 0;
}
.tooltip-content p {
  margin-bottom: 0.5rem;
}
.tooltip-content p span {
  color: #0f00ff;
}
.tooltip-content .muted {
  color: #8691b4;
}

.step-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
.step-list-action {
  position: relative;
  display: block;
  text-align: center;
}
.step-list-action::before {
  content: "";
  position: absolute;
  top: -22px;
  left: calc(50% - 5px);
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #9ca1be;
  z-index: 1;
}
.step-list li {
  position: relative;
  color: #9ca1be;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.step-list li:hover {
  color: #03053c;
}
.step-list li:not(:first-of-type) .step-list-action::after {
  content: "";
  display: block;
  position: absolute;
  top: -18px;
  left: -50%;
  width: 100%;
  height: 2px;
  background-color: #e1e3ec;
}
.step-list li::before {
  content: "";
  transition: all 0.1s ease-in;
  display: block;
  position: absolute;
  top: -30px;
  left: calc(50% - 13px);
  width: 26px;
  height: 26px;
  background-color: transparent;
  border-radius: 26px;
  z-index: 1;
}
.step-list li.active {
  color: #03053c;
}
.step-list li.active::before {
  background-color: #03053c;
}
.step-list li.active .step-list-action::before {
  background-color: white;
}

.btn {
  min-width: 140px;
  transition: all 0.1 ease-in-out;
}
.btn-primary {
  background-color: #03053c;
  font-weight: 500;
}
.btn-primary:hover {
  background-color: #05096d;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #05096d;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):active.focus {
  box-shadow: 0 0 0 0.2rem rgba(3, 5, 60, 0.2);
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(3, 5, 60, 0.2);
}

.form-control {
  height: calc(1.5em + 1.25rem + 2px);
  padding: 0.75rem 1.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(225, 227, 236, 0.44);
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(3, 5, 60, 0.2);
  border-color: #e1e3ec;
  color: #03053c;
}
.form-control::placeholder {
  color: #9ca1be;
}
.form-control:read-only {
  background-color: white;
  border: unset;
  color: #9ca1be;
  padding-top: unset;
  padding-bottom: unset;
  height: unset;
}

.form-controllabel {
  padding-top: unset;
  padding-bottom: unset;
  height: unset;
  margin: 0;
}

body {
  background-color: #f3f5fa !important;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

@media (min-width: 576px) {
  .setup-account-content {
    max-width: 789px;
  }
}

hr {
  border-top: 1px solid #e1e3ec;
}

.page-seperator-border, .page-seperator:after {
  height: 1px;
  background-color: rgba(134, 145, 180, 0.2);
  width: 100%;
}

.page-seperator {
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.page-seperator:after {
  content: "";
  margin-left: 10px;
}

@media (min-width: 992px) {
  .col-lg-70 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .col-lg-30 {
    flex: 0 0 30%;
    max-width: 30%;
  }
}
#doughnut-chart {
  min-height: 200px;
  height: 100% !important;
  width: auto;
}

.border-t-0 {
  border-top: 0;
}

.border-t-1 {
  border-top: 1px solid grey;
}

@media (min-width: 576px) {
  .border-sm-t-0 {
    border-top: 0;
  }

  .border-sm-t-1 {
    border-top: 1px solid grey;
  }
}
@media (min-width: 768px) {
  .border-md-t-0 {
    border-top: 0;
  }

  .border-md-t-1 {
    border-top: 1px solid grey;
  }
}
@media (min-width: 992px) {
  .border-lg-t-0 {
    border-top: 0;
  }

  .border-lg-t-1 {
    border-top: 1px solid grey;
  }
}
@media (min-width: 1200px) {
  .border-xl-t-0 {
    border-top: 0;
  }

  .border-xl-t-1 {
    border-top: 1px solid grey;
  }
}
.border-r-0 {
  border-right: 0;
}

.border-r-1 {
  border-right: 1px solid grey;
}

@media (min-width: 576px) {
  .border-sm-r-0 {
    border-right: 0;
  }

  .border-sm-r-1 {
    border-right: 1px solid grey;
  }
}
@media (min-width: 768px) {
  .border-md-r-0 {
    border-right: 0;
  }

  .border-md-r-1 {
    border-right: 1px solid grey;
  }
}
@media (min-width: 992px) {
  .border-lg-r-0 {
    border-right: 0;
  }

  .border-lg-r-1 {
    border-right: 1px solid grey;
  }
}
@media (min-width: 1200px) {
  .border-xl-r-0 {
    border-right: 0;
  }

  .border-xl-r-1 {
    border-right: 1px solid grey;
  }
}
.border-b-0 {
  border-bottom: 0;
}

.border-b-1 {
  border-bottom: 1px solid grey;
}

@media (min-width: 576px) {
  .border-sm-b-0 {
    border-bottom: 0;
  }

  .border-sm-b-1 {
    border-bottom: 1px solid grey;
  }
}
@media (min-width: 768px) {
  .border-md-b-0 {
    border-bottom: 0;
  }

  .border-md-b-1 {
    border-bottom: 1px solid grey;
  }
}
@media (min-width: 992px) {
  .border-lg-b-0 {
    border-bottom: 0;
  }

  .border-lg-b-1 {
    border-bottom: 1px solid grey;
  }
}
@media (min-width: 1200px) {
  .border-xl-b-0 {
    border-bottom: 0;
  }

  .border-xl-b-1 {
    border-bottom: 1px solid grey;
  }
}
.border-l-0 {
  border-left: 0;
}

.border-l-1 {
  border-left: 1px solid grey;
}

@media (min-width: 576px) {
  .border-sm-l-0 {
    border-left: 0;
  }

  .border-sm-l-1 {
    border-left: 1px solid grey;
  }
}
@media (min-width: 768px) {
  .border-md-l-0 {
    border-left: 0;
  }

  .border-md-l-1 {
    border-left: 1px solid grey;
  }
}
@media (min-width: 992px) {
  .border-lg-l-0 {
    border-left: 0;
  }

  .border-lg-l-1 {
    border-left: 1px solid grey;
  }
}
@media (min-width: 1200px) {
  .border-xl-l-0 {
    border-left: 0;
  }

  .border-xl-l-1 {
    border-left: 1px solid grey;
  }
}
.text-red {
  color: #d81010;
}

.bg-red {
  background-color: #d81010;
}

.border-red {
  border-color: #d81010;
}

.text-green {
  color: #10d876;
}

.bg-green {
  background-color: #10d876;
}

.border-green {
  border-color: #10d876;
}

.text-grey {
  color: #8691b4;
}

.bg-grey {
  background-color: #8691b4;
}

.border-grey {
  border-color: #8691b4;
}

.text-light-grey {
  color: #9CA1BE;
}

.bg-light-grey {
  background-color: #9CA1BE;
}

.border-light-grey {
  border-color: #9CA1BE;
}

.text-dark-blue {
  color: #03053c;
}

.bg-dark-blue {
  background-color: #03053c;
}

.border-dark-blue {
  border-color: #03053c;
}

.rotate-180 {
  transform: rotate(180deg);
}

footer {
  font-size: 14px;
}

.row {
  margin-right: -9px;
  margin-left: -9px;
}

.col-xl,
.col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md,
.col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm,
.col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  padding-right: 9px;
  padding-left: 9px;
}

.w-fit-content {
  width: fit-content;
}

.text-black {
  color: inherit !important;
}

.w-0 {
  width: 0% !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w,
.w-auto {
  width: auto !important;
}

@media (min-width: 576px) {
  .w-sm-0 {
    width: 0% !important;
  }

  .w-sm-25 {
    width: 25% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }

  .w-sm,
.w-sm-auto {
    width: auto !important;
  }
}
@media (min-width: 768px) {
  .w-md-0 {
    width: 0% !important;
  }

  .w-md-25 {
    width: 25% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .w-md,
.w-md-auto {
    width: auto !important;
  }
}
@media (min-width: 992px) {
  .w-lg-0 {
    width: 0% !important;
  }

  .w-lg-25 {
    width: 25% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }

  .w-lg,
.w-lg-auto {
    width: auto !important;
  }
}
@media (min-width: 1200px) {
  .w-xl-0 {
    width: 0% !important;
  }

  .w-xl-25 {
    width: 25% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }

  .w-xl,
.w-xl-auto {
    width: auto !important;
  }
}
